# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory/

# Python virtual environments
venv/
ENV/
env/
venv.bak/
venv3/
__pycache__/

# Pytest
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook
.ipynb_checkpoints

# Sphinx documentation
docs/_build/
build/
target/

# VS Code settings
.vscode/

# JetBrains IDEs (e.g., PyCha
